pip install numpy
pip install matplotlib
pip install opencv_python
pip install tqdm
pip install torchviz
pip install install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116